* {
    margin: 5px;

}

.hero-image {
    border-radius: 100%;
}

.menu-princial {
    font-size: 35px;
    color: blue;
    border: solid black;
    text-align: center;
}

.menu-princial li {
    display: inline;

}



#header {
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 80px 40px;
    background-color: rgb(189, 59, 182);
    border: solid black;
}

.button {
    padding: 15px 90px;
    background-color: green;
    font-weight: bold;
}

.main-text {
   background-color: rgb(119, 119, 119);
   width: 70%;
   overflow: auto;
   height: 300px;
   margin-left: 10px;
   margin-bottom: 0px;
}

#footer {
    text-align: center;
}

.bentonildo{
    color: brown;
}
